<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="irstheme">
    <title> Complete Legal Solution - Lawyers and Law Firm </title>
    
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'> 
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>

    <link href="{{url('assets/images/CLS-Trans-2.png')}}" rel="icon">
    <link href="{{url('assets/css/themify-icons.css')}}" rel="stylesheet">
    <link href="{{url('assets/css/flaticon.css')}}" rel="stylesheet">
    <link href="{{url('assets/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url('assets/css/animate.css')}}" rel="stylesheet">
    <link href="{{url('assets/css/owl.carousel.css')}}" rel="stylesheet">
    <link href="{{url('assets/css/owl.theme.css')}}" rel="stylesheet">
    <link href="{{url('assets/css/slick.css')}}" rel="stylesheet">
    <link href="{{url('assets/css/slick-theme.css')}}" rel="stylesheet">
   <link href="{{url('assets/css/swiper.min.css')}}" rel="stylesheet">

    <link href="{{url('assets/css/owl.transitions.css')}}" rel="stylesheet">
    <link href="{{url('assets/css/jquery.fancybox.css')}}" rel="stylesheet">
    <link href="{{url('assets/css/style.css')}}" rel="stylesheet">
</head>
<body>
    <!-- start page-wrapper -->
    <div class="page-wrapper">
    <!-- start preloader -->
    <div class="preloader">
        <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>        
    </div>
    <!-- end preloader -->
        <!-- Start header -->
        <header id="header" class="site-header header-style-1">
            <!-- <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col col-md-10">
                            <div class="contact-info">
                                <ul class="clearfix">
                                    <li><span>Call Us:</span> 548978478</li>
                                    <li><span>Email us:</span> demo@example.com</li>
                                    <li><span>Our address:</span> 45 Dreem street Austria</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-md-2">
                            <div class="social">
                                <ul class="clearfix">
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                    <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                    <li><a href="#"><i class="ti-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  -->
            <!-- end topbar -->
            <nav class="navigation navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="open-btn">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="../../home.html"><img src="{{url('assets/images/CLS-Trans-2.png')}}" alt></a>
                        <!-- <a class="navbar-brand" href="home.html"><img src="html/juristic-live-cp/assets/images/Complete-legal-solutions-logo.png" alt></a> -->
                    </div>
                    <div id="navbar" class="navbar-collapse collapse navbar-right navigation-holder">
                        <button class="close-navbar"><i class="ti-close"></i></button>
                        <ul class="nav navbar-nav">
                            <!-- <li><a href="home.html">Home</a></li> -->
                            <!-- <li class="menu-item-has-children">
                                <a href="#">Home</a>
                                <ul class="sub-menu">
                                    <li><a href="home.html">Home Default</a></li>
                                    <li><a href="html/juristic-live-cp/index-2.html">Home Style 2</a></li>
                                    <li><a href="html/juristic-live-cp/index-3.html">Home Single Lawyer</a></li>
                                </ul>
                            </li> -->
                            <li><a href="../../{{url('about')}}">About Us</a></li>
                            <li><a href="../../html/juristic-live-cp/team.html">Team</a></li>
                            <li><a href="../../{{url('area-of-practice')}}">Area of Practice</a></li>
                            <li class="menu-item-has-children">
                                <a href="#">Careers</a>
                                <ul class="sub-menu">
                                    <li><a href="../../html/juristic-live-cp/internship.html">Internships</a></li>
                                    <li><a href="../../html/juristic-live-cp/jobs.html">Jobs</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Insights</a>
                                <ul class="sub-menu">
                                    <li><a href="{{url('articles-n-updates')}}">Articles & Publications</a></li>
                                    <li><a href="{{url('case-studies-2-insights')}}">Legal Awareness & News</a></li>
                                </ul>
                            </li>
                            <li><a href="../../html/juristic-live-cp/videos.html">Gallery</a></li>
                            
                            <!-- <li class="menu-item-has-children">
                                <a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="{{url('about')}}">About Us</a></li>
                                    <li><a href="html/juristic-live-cp/about-me.html">About Me</a></li>
                                    <li><a href="html/juristic-live-cp/testimonials.html">Testimonials</a></li>
                                    <li><a href="html/juristic-live-cp/testimonials-s2.html">Testimonials Style 2</a></li>
                                    <li><a href="html/juristic-live-cp/team.html">Team</a></li>
                                    <li><a href="html/juristic-live-cp/team-single.html">Team Single</a></li>
                                    <li><a href="html/juristic-live-cp/faq.html">FAQ</a></li>
                                    <li><a href="html/juristic-live-cp/404.html">404</a></li>
                                    <li><a href="html/juristic-live-cp/contact.html">Contact</a></li>
                                </ul>
                            </li> -->
                            <!-- <li class="menu-item-has-children">
                                <a href="#">People</a>
                                <ul class="sub-menu">
                                    <li><a href="html/juristic-live-cp/shop.html">Shop</a></li>
                                    <li><a href="html/juristic-live-cp/shop-single.html">Shop Single</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Area of Practice</a>
                                <ul class="sub-menu">
                                    <li><a href="html/juristic-live-cp/services.html">Services</a></li>
                                    <li><a href="html/juristic-live-cp/services-s2.html">Service Style 2</a></li>
                                    <li><a href="html/juristic-live-cp/service-single.html">Business Law</a></li>
                                    <li><a href="html/juristic-live-cp/family-law.html">Family Law</a></li>
                                    <li><a href="html/juristic-live-cp/real-estate-law.html">Real State Law</a></li>
                                    <li><a href="html/juristic-live-cp/education-law.html">Education Law</a></li>
                                    <li><a href="html/juristic-live-cp/criminal-law.html">Criminal Law</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Insights</a>
                                <ul class="sub-menu">
                                    <li><a href="html/juristic-live-cp/case-studies.html">Case Studies</a></li>
                                    <li><a href="html/juristic-live-cp/case-studies-s2.html">Case Studies Style 2</a></li>
                                    <li><a href="html/juristic-live-cp/project-single.html">Case Studies Single</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Media & Events</a>
                                <ul class="sub-menu">
                                    <li><a href="html/juristic-live-cp/blog.html">Blog</a></li>
                                    <li><a href="html/juristic-live-cp/blog-left-sidebar.html">Blog Left sidebar</a></li>
                                    <li><a href="html/juristic-live-cp/blog-fullwidth.html">Blog full width</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#Level3">Blog single</a>
                                        <ul class="sub-menu">
                                            <li><a href="html/juristic-live-cp/blog-single.html">Blog single</a></li>
                                            <li><a href="html/juristic-live-cp/blog-single-left-sidebar.html">Blog single Left sidebar</a></li>
                                            <li><a href="html/juristic-live-cp/blog-single-fullwidth.html">Blog single full width</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li> -->
                            <li><a href="../../html/juristic-live-cp/contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- end of nav-collapse -->
                    <!-- <div class="cart-search-contact">
                        <div class="header-search-form-wrapper">
                            <button class="search-toggle-btn"><i class="fi flaticon-magnifying-glass"></i></button>
                            <div class="header-search-form">
                                <form>
                                    <div>
                                        <input type="text" class="form-control" placeholder="Search here...">
                                        <button type="submit"><i class="ti-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="mini-cart">
                            <button class="cart-toggle-btn"> <i class="fi flaticon-basket"></i> <span class="cart-count">02</span></button>
                            <div class="mini-cart-content">
                                <div class="mini-cart-items">
                                    <div class="mini-cart-item clearfix">
                                        <div class="mini-cart-item-image">
                                            <a href="#"><img src="html/juristic-live-cp/assets/images/shop/mini-cart/img-1.jpg" alt></a>
                                        </div>
                                        <div class="mini-cart-item-des">
                                            <a href="#">Hoodi with zipper</a>
                                            <span class="mini-cart-item-price">$20.15</span>
                                            <span class="mini-cart-item-quantity">x 1</span>
                                        </div>
                                    </div>
                                    <div class="mini-cart-item clearfix">
                                        <div class="mini-cart-item-image">
                                            <a href="#"><img src="html/juristic-live-cp/assets/images/shop/mini-cart/img-2.jpg" alt></a>
                                        </div>
                                        <div class="mini-cart-item-des">
                                            <a href="#">Ninja T-shirt</a>
                                            <span class="mini-cart-item-price">$13.25</span>
                                            <span class="mini-cart-item-quantity">x 2</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mini-cart-action clearfix">
                                    <span class="mini-checkout-price">$215.14</span>
                                    <a href="#" class="view-cart-btn">View Cart</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div><!-- end of container -->
            </nav>
        </header>
        <!-- end of header -->


        <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2></h2>
                        <!-- <p>Gregor then turned to look out the window at the weather</p> -->
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>        
        <!-- end page-title -->

        <nav class="social-side">
            <ul>
                <li><a href="#">Twitter <i class="fa fa-twitter"></i></a></li>
                <li><a href="#">Facebook <i class="fa fa-facebook"></i></a></li>
                <li><a href="#">Linkedin <i class="fa fa-linkedin"></i></a></li>
                <!-- <li><a href="#">Behance <i class="fa fa-behance"></i></a></li> -->
                <li><a href="https://api.whatsapp.com/send?phone=918120998100&amp;text=Hello!" target="_blank">
                    Whatsapp <i class=" fi fi-brands-whatsapp"></i></a></li>
                <li><a href="../../html/juristic-live-cp/contact.html">Contact Us <i class="fa fa-phone"></i></a></li>
                <li><a href="#" data-toggle="modal" data-target="#exampleModalCenter">Feedback <i class="fa fa-dribbble"></i></a></li>

            </ul>
        </nav>

        <!-- start shop-pg-section -->
        <section class="shop-pg-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="shop-grids">
                            <!-- <div class="grid">
                                <div class="img-cart">
                                    <div class="img-holder">
                                        <img src="../../html/juristic-live-cp/assets/images/awards/gallery.jpg" alt="">
                                    </div>
                                    <div class="cart-details">
                                        <ul>
                                            <li><a href="#" class="theme-btn">Add to cart</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="details">
                                    <h4><a href="#">Ninja Hoodi</a></h4>
                                    <del>$25.00</del>
                                    <span class="price">description</span>
                                </div>
                            </div> -->
                            <div class="grid">
                                <div class="img-cart">
                                    <div class="img-holder">
                                        <img src="../../html/juristic-live-cp/assets/images/awards/gallery-1.jpg" alt="">
                                    </div>
                                    <!-- <div class="cart-details">
                                        <ul>
                                            <li><a href="#" class="theme-btn">Add to cart</a></li>
                                        </ul>
                                    </div> -->
                                </div>
                                <!-- <div class="details">
                                    <h4><a href="#">Wow Ninja T-shirt</a></h4>
                                    <del>$25.00</del>
                                    <span class="price">description</span>
                                </div> -->
                            </div>
                            <div class="grid">
                                <div class="img-cart">
                                    <div class="img-holder">
                                        <img src="../../html/juristic-live-cp/assets/images/awards/gallery-2.jpg" alt="">
                                    </div>
                                    <!-- <div class="cart-details">
                                        <ul>
                                            <li><a href="#" class="theme-btn">Add to cart</a></li>
                                        </ul>
                                    </div> -->
                                </div>
                                <!-- <div class="details">
                                    <h4><a href="#">Black Ninja Hoodi</a></h4>
                                    <del>$25.00</del>
                                    <span class="price">description</span>
                                </div> -->
                            </div>
                            <div class="grid">
                                <div class="img-cart">
                                    <div class="img-holder">
                                        <img src="../../html/juristic-live-cp/assets/images/awards/gallery-3.jpg" alt="">
                                    </div>
                                    <!-- <div class="cart-details">
                                        <ul>
                                            <li><a href="#" class="theme-btn">Add to cart</a></li>
                                        </ul>
                                    </div> -->
                                </div>
                                <!-- <div class="details">
                                    <h4><a href="#">Red Ninja Hoodi</a></h4>
                                    <del>$25.00</del>
                                    <span class="price">description</span>
                                </div> -->
                            </div>
                            <div class="grid">
                                <div class="img-cart">
                                    <div class="img-holder">
                                        <img src="../../html/juristic-live-cp/assets/images/awards/gallery-4.jpg" alt="">
                                    </div>
                                    <!-- <div class="cart-details">
                                        <ul>
                                            <li><a href="#" class="theme-btn">Add to cart</a></li>
                                        </ul>
                                    </div> -->
                                </div>
                                <!-- <div class="details">
                                    <h4><a href="#">Black Evil Hoodi</a></h4>
                                    <del>$25.00</del>
                                    <span class="price">description</span>
                                </div> -->
                            </div>
                            <div class="grid">
                                <div class="img-cart">
                                    <div class="img-holder">
                                        <img src="../../html/juristic-live-cp/assets/images/awards/gallery-5.jpg" alt="">
                                    </div>
                                    <!-- <div class="cart-details">
                                        <ul>
                                            <li><a href="#" class="theme-btn">Add to cart</a></li>
                                        </ul>
                                    </div> -->
                                </div>
                                <!-- <div class="details">
                                    <h4><a href="#">Blue Hoodi</a></h4>
                                    <del>$25.00</del>
                                    <span class="price">description</span>
                                </div> -->
                            </div>
                            <div class="grid">
                                <div class="img-cart">
                                    <div class="img-holder">
                                        <img src="../../html/juristic-live-cp/assets/images/awards/gallery-6.jpg" alt="">
                                    </div>
                                    <!-- <div class="cart-details">
                                        <ul>
                                            <li><a href="#" class="theme-btn">Add to cart</a></li>
                                        </ul>
                                    </div> -->
                                </div>
                                <!-- <div class="details">
                                    <h4><a href="#">Blue Hoodi</a></h4>
                                    <del>$25.00</del>
                                    <span class="price">description</span>
                                </div> -->
                            </div>
                            <div class="grid">
                                <div class="img-cart">
                                    <div class="img-holder">
                                        <img src="../../html/juristic-live-cp/assets/images/awards/gallery-7.jpg" alt="">
                                    </div>
                                    <!-- <div class="cart-details">
                                        <ul>
                                            <li><a href="#" class="theme-btn">Add to cart</a></li>
                                        </ul>
                                    </div> -->
                                </div>
                                <!-- <div class="details">
                                    <h4><a href="#">Blue Hoodi</a></h4>
                                    <del>$25.00</del>
                                    <span class="price">description</span>
                                </div> -->
                            </div>
                        </div>
                        <!-- <div class="pagination-wrapper pagination-wrapper-left">
                            <ul class="pg-pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <i class="fi flaticon-back"></i>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <i class="fi flaticon-next"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> -->

                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end shop-pg-section -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title " id="exampleModalLongTitle">Feedback Form</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="contact-form">
                        <form method="post" class="contact-validation-active" id="contact-form-main">
                            <div>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name*">
                            </div>
                            <div>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email*">
                            </div>
                            <div>
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*">
                            </div>
                            <div class="fullwidth">
                                <textarea class="form-control" name="note"  id="note" placeholder="Feedback"></textarea>
                            </div>
                            
                            <div class="clearfix error-handling-messages">
                                <div id="success">Thank you</div>
                                <div id="error"> Error occurred while sending email. Please try again later. </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="submit-area">
                        <button type="submit" class="theme-btn">Submit It Now</button>
                        <!-- <div id="loader">
                            <i class="ti-reload"></i>
                        </div> -->
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- start site-footer -->
        <footer class="site-footer">
            <div class="social-newsletter-area">
                <div class="container">
                    <div class="row">
                        <div class="col col-xs-12">
                            <div class="social-newsletter-content clearfix">
                                <!-- <div class="social-area">
                                    <ul class="clearfix">
                                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                        <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                    </ul>
                                </div> -->
                                <!-- <div class="logo-area"> -->
                                    <!-- <img src="html/juristic-live-cp/assets/images/footer-logo.png" alt> -->
                                    <!-- <img src="html/juristic-live-cp/assets/images/Complete-legal-solutions-logo.png" alt>
                                </div> -->
                                <!-- <div class="newsletter-area">
                                    <div class="inner">
                                        <h3>Newsletter</h3>
                                        <form>
                                            <div class="input-1">
                                                <input type="email" class="form-control" placeholder="Email Address *" required="">
                                            </div>
                                            <div class="submit clearfix">
                                                <button type="submit"><i class="fi flaticon-paper-plane"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="upper-footer">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-3 col-md-3 col-sm-6">
                            <div class="widget about-widget">
                                <div class="logo-area"> -->
                                    <!-- <img src="html/juristic-live-cp/assets/images/footer-logo.png" alt> -->
                                    <!-- <img src="{{url('assets/images/CLS-Trans-2.png')}}" alt>
                                </div> -->
                                <!-- <div class="widget-title">
                                    <h3>About us</h3>
                                </div> -->
                                <!-- <p>A Complete Legal Solution Firm, 1st LLP registered Firm in State of Chhattisgarh. Handles PAN Chhattisgarh matters.</p>
                                <div class="social-area">
                                    <ul class="clearfix">
                                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                        <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-3 col-md-3 col-sm-6">
                            <div class="widget contact-widget service-link-widget">
                                <div class="widget-title">
                                    <h3>Our Address</h3>
                                </div>
                                <ul>
                                    <li>C4, Sector 1, Vastu Sadan, Ground Floor, Beside Nagar Nigam Zone 3 Gate, Shankar Nagar, Raipur, Chhattisgarh 492007</li>
                                    <li><span>Phone:</span> <a href="tel:+918120998100" style="color: #cdced0;">8120998100</a></li>
                                    <li><span>Email:</span> <a href="mailto:nikhil@clsllp.com" style="color: #cdced0;">nikhil@clsllp.com</a></li>
                                    <li><span>Office Time:</span> 10AM - 5PM</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-lg-3 col-md-3 col-sm-6">
                            <div class="widget link-widget">
                                <div class="widget-title">
                                    <h3>Usefull Links</h3>
                                </div>
                                <ul>
                                    <li><a href="../../{{url('about')}}">About us</a></li>
                                    <li><a href="../../html/juristic-live-cp/team.html">People</a></li>
                                    <li><a href="../../html/juristic-live-cp/contact.html">Contact Us</a></li>
                                    <li><a href="../../{{url('area-of-practice')}}">Area of Practice</a></li>
                                </ul>
                                <ul>
                                    <li><a href="../../html/juristic-live-cp/videos.html">Media</a></li>
                                    <li><a href="{{url('articles-n-updates')}}">Articles</a></li>
                                    <li><a href="{{url('case-studies-2-insights')}}">News</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-lg-3 col-md-3 col-sm-6">
                            <div class="widget link-widget line-widget-2">
                                <div class="widget-title">
                                    <h3>Practice Area</h3>
                                </div>
                                <ul>
                                    <li><a href="#">Real Estate Law</a></li>
                                    <li><a href="#">Insurance Defence</a></li>
                                    <li><a href="#">Education Law</a></li>
                                    <li><a href="#">Family Law</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>  -->
                <!-- end container -->
            <!-- </div> -->
            <div class="lower-footer">
                <div class="container">
                    <div class="row">
                        <div class="separator"></div>
                        <div class="col col-xs-12">
                            <p class="copyright">Copyright &copy; 2022 Complete Legal Solutions LLP. All rights reserved.</p>
                            <div class="extra-link">
                                <ul>
                                    <li><a href="../../html/juristic-live-cp/privacy.html">Privacy Policy</a></li>
                                    <!-- <li><a href="#">Terms</a></li>
                                    <li><a href="{{url('about')}}">About us</a></li>
                                    <li><a href="#">FAQ</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end site-footer -->
    </div>
    <!-- end of page-wrapper -->
    <!-- All JavaScript files
    ================================================== -->
    <script src="../../{{url('assets/js/jquery.min.js')}}"></script>
    <script src="../../{{url('assets/js/bootstrap.min.js')}}"></script>
    <!-- Plugins for this template -->
    <script src="../../{{url('assets/js/jquery-plugin-collection.js')}}"></script>
    <!-- Custom script for this template -->
    <script src="../../{{url('assets/js/script.js')}}"></script>

</body></html>